{% extends 'base.html'}

{% block content %}
<p>User <b>{{user.first_name}}</b> is logged in successfully</p>
<form method="POST" action="/employee/logout/">
    {% csrf_token %}
    <input type="submit" value="logout">
</form>
{% endblock content %}